@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Miniver&family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root{
    --lead: #212121;
    --gold-finger: #F3BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC; /* # ලකුණ එකතු කළා */
    --pure-white: #FFF;     /* # ලකුණ එකතු කළා */
}

body{
    background-color: var(--eye-ball);
}

/* Basic style */
a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--lead);
    font-weight: 600; /* අකුරු ටිකක් මහත කළා */
}

.flex{ 
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-3{
    gap: 3rem; /* Links අතර පරතරය */
}

.gap-2{
    gap: 1.5rem; /* Icon සහ Button අතර පරතරය */
}

.gap-1{
    gap: 0.5rem; /* Sign in සහ Icon එක අතර පරතරය */
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto; /* මේකෙන් තමයි මුළු content එකම මැදට ගන්නේ */
    padding: 0 20px; /* දෙපැත්තට ඉඩක් තැබීමට */
}

/* Header styling */
.navbar{
    min-height: 10vh; /* උස තරමක් අඩු කළා */
}

.navlist{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--gold-finger);
}

.desktop-action {
    display: flex;
    align-items: center;
}

/* Cart Icon styling adjustments */
.cart-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}











/* media queries */