@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Miniver&family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root{
    --lead:#212121;
    --gold-finger:#F3BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:FCF1CC;
    --pure-white:FFF;
}
body{
    background-color: var(--eye-ball);
}

/* Basic style */
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex{ 
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-3{
    gap: 3rem;
}
.wrapper{
    max-width: 1400px;
    background: gold;
}
/* headr styling */
.navlist{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar{
    min-height: 14vh;                    
}

/* section styleign */

/* footer styling  */












/* media queries */