@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Miniver&family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root{
    --lead: #212121;
    --gold-finger: #F3BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC; 
    --pure-white: #FFF;     
}

body{
    background-color: var(--eye-ball);
}

/* Basic style */
a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--lead);
    font-weight: 600; 
}

.flex{ 
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}


.gap-3{
    gap: 3rem; 
}

.gap-2{
    gap: 2rem; 
}

.gap-1{
    gap: 0.5rem;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto; 
    padding: 0 20px; 
}

/* Header styling */
.navbar{
    min-height: 10vh; 
}

.navlist{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--gold-finger);
}
.btn{

    display: inline-block;
    padding: .9rem 2.5rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background: var(--lead);
}
.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.desktop-action {
    display: flex;
    align-items: center;
}

/* Cart Icon styling adjustments */
.cart-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}
.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}
.desktop-action .hamburger{
    font-size: 1.5rem;
    display: none;


}
.mobile-menu{
    display: none;
}










/* media queries */
@media screen and (max-width: 780px){
    .navlist , .desktop-action .btn{
        display: none;
    }

    .desktop-action .hamburger{
        display: block;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: 1.rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow: 
        rgba(0, 0, 0, 0.5) 8px 8px 8px,  rgba(0, 0, 0, 0.5) 8px 8px 8px inset;
        transition: all .5s ease-in-out;


    }
    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* section style */